body {
  font-family: "Lato", sans-serif;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

#navbar--top,
#navbar--middle {
  border-bottom: 1px solid #eee;
}

nav {
  font-weight: bold;
}

nav input {
  border-right: none !important;
  background-color: #e9ecef !important;
}

.fancy-link {
  text-decoration: none;
  color: inherit;
}

.fancy-link:hover {
  color: inherit;
}

@media screen and (max-width: 992px) {
  .fancy-link:hover {
    background-color: #eee;
    border-radius: 5px;
  }
}

@media screen and (min-width: 992px) {
  .fancy-link {
    position: relative;
  }
  .fancy-link::after {
    content: "";
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    width: calc(100% - 1rem);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }
  .fancy-link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

.carousel-indicators {
  margin-bottom: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* opacity: 1; */
}

.carousel-indicators .active {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #fff;
}

.carousel-item {
  height: 500px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel-image-1 {
  background: url(../img/yousef-espanioly-AWYI4-h3VnM-unsplash.jpg);
  background-size: cover;
}

.carousel-image-2 {
  background: url(../img/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg);
  background-size: cover;
}

.carousel-image-3 {
  background: url(../img/radek-vebr-PImY68gNh9o-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.card {
  border: none;
}

.card img {
  max-height: 200px;
  margin: auto;
}

#boxes .row {
  margin-top: -25px;
}

#box-1 {
  background: url(/img/daniel-oberg-sEApBUS4fIk-unsplash.jpg);
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
}

#box-2 {
  background: url(/img/bady-abbas-46xWt_kBFDw-unsplash.jpg);
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
}

.gray-dark {
  background-color: #d5d8db;
}

.gray-light {
  background-color: #dee2e4;
}

.icon-bg {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
}

#banner-second {
  background: url(/img/zhen-hu-dO5quaqAYg0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

#banner-third h5 {
  font-size: 1rem;
}

#banner-third .phone-number {
  line-height: 1em;
}

#banner-third img {
  max-width: 70px;
}

.fa-google-plus-square {
  color: #dd4b39;
}

.fa-pinterest-square {
  color: #cb2027;
}

.fa-youtube-square {
  color: #bb0000;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-instagram-square {
  color: #125688;
}
