$font: "Lato", sans-serif;
$gray-light: #dee2e4;
$gray-dark: #d5d8db;
$lg-breakpoint: 992px;

@mixin box {
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: $font;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

#navbar--top,
#navbar--middle {
  border-bottom: 1px solid #eee;
}

nav {
  font-weight: bold;

  input {
    border-right: none !important;
    background-color: #e9ecef !important;
  }
}

.fancy-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
    @media screen and (max-width: $lg-breakpoint) {
      background-color: #eee;
      border-radius: 5px;
    }
  }

  @media screen and (min-width: $lg-breakpoint) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0.5rem;
      bottom: 0.5rem;
      width: calc(100% - 1rem);
      height: 2px;
      background: currentColor;

      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-in;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.carousel-indicators {
  margin-bottom: 50px;

  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* opacity: 1; */
  }

  .active {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #fff;
  }
}

.carousel-item {
  height: 500px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel-image-1 {
  background: url(../img/slide_1.jpg);
  background-size: cover;
}

.carousel-image-2 {
  background: url(../img/slide_2.jpg);
  background-size: cover;
}

.carousel-image-3 {
  background: url(../img/slide_3.jpg);
  background-size: cover;
  background-position: center;
}

.focus-line {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    right: calc(50% + 60px);
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background: currentColor;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: calc(50% + 60px);
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background: currentColor;
  }
}

#news {
  .focus-line {
    &::before {
      right: calc(50% + 120px);
    }

    &::after {
      left: calc(50% + 120px);
    }
  }
}

.card {
  border: none;
  img {
    max-height: 200px;
    margin: auto;
  }
}

#boxes {
  .row {
    margin-top: -25px;
  }
}

#box-1 {
  background: url(../img/box_1.jpg);
  @include box;
}

#box-2 {
  background: url(../img/box_2.jpg);
  @include box;
}

.gray-dark {
  background-color: $gray-dark;
}

.gray-light {
  background-color: $gray-light;
}

.icon-bg {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
}

#banner-second {
  background: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
}

#banner-third {
  h5 {
    font-size: 1rem;
  }

  .phone-number {
    line-height: 1em;
  }

  img {
    max-width: 70px;
  }
}

.prev,
.next {
  cursor: pointer;
}

#sns {
  a {
    text-decoration: none;
  }

  .fa-facebook-square {
    color: #007bff;

    &:hover {
      color: #0068d6;
    }
  }

  .fa-google-plus-square {
    color: #dd4b39;

    &:hover {
      color: #b94131;
    }
  }

  .fa-pinterest-square {
    color: #cb2027;

    &:hover {
      color: #b81f24;
    }
  }

  .fa-youtube-square {
    color: #bb0000;

    &:hover {
      color: #aa0202;
    }
  }

  .fa-linkedin {
    color: #007bb5;

    &:hover {
      color: #026ea0;
    }
  }

  .fa-instagram-square {
    color: #125688;

    &:hover {
      color: #0e4974;
    }
  }
}
